*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Colors Webs */
    --Main-text-color: #ccc;
    --Main-black-color: #121212;
    --Main-gray-color: #232323;
    --Main-red-color: #FF3C32;
    /* Fonts Web */
    line-height: 1.42857143;
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

.background-login {
    background-color: var(--Main-black-color);
}

.box-login {
    width: 450px;
    padding: 20px;
    margin: 7% auto;
}

@media only screen and (max-width: 768px){
    .box-login {
        width: 90%;
        margin-top: 20px; 
    }
}

.logo {
    font-size: 65px;
    font-weight: 300;
    text-align: center;
    color: var(--Main-text-color);
}

.login-msg {
    font-size: 18px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
    color: var(--Main-text-color);
}

.form-control {
    position: relative;
    margin-bottom: 15px;
}

.input-control {
    width: 100%;
    height: 34px;
    display: block;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 42.5px;
    border: none;
    outline: none;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: var(--Main-gray-color);
    color: var(--Main-text-color);
}

.input-control:hover {
    border: 2px solid var(--Main-red-color);
}

.form-control:hover .control-icons {
    border-right: 2px solid var(--Main-red-color);
}

.control-icons {
    top: 0;
    left: 0;
    color: #CCC;
    padding: 8.5px;
    font-size: 16px;
    margin-left: 2px;
    position: absolute;
    pointer-events: none;
    border-right: 1px solid var(--Main-text-color);
}

.error-disp {
    padding: 15px;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 20px;
    color: var(--Main-text-color);
    border: 1px solid transparent;
    border-color: #c23321;
    background-color: #d73925;
}

.box-checks {
    position: relative;
}

.remember-checkbox {
    display: none;
}

.remember-label::before {
    content: '';
    height: 20px;
    width: 20px;
    margin-left: 9px;
    display: inline-block;
    vertical-align: bottom;
    background-color: var(--Main-gray-color);
    border: 2px solid var(--Main-red-color);
}

.remember-checkbox:checked + .remember-label::before {
    display: inline;
    content: '\e97d';
    font-family: 'Font-icons';
    font-size: 16px;
    color: var(--Main-text-color);
    background-color: var(--Main-red-color);
}

.remember-label {
    color: #ccc;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
}

.submit-login {
    right: 0;
    border: none;
    outline: none;
    padding: 10px;
    cursor: pointer;
    font-size: 15px;
    position: absolute;
    color: var(--Main-text-color);
    background-color: var(--Main-red-color);
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
}